.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.grid3col{
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap:56px;
  margin: 0 auto;
}
@media screen and (max-width: 1680px) {
  .grid3col{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap:56px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1180px) {
  .grid3col{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap:56px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .grid3col{
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap:56px 0px;
    margin: 0 auto;
    padding: 0;
  }
}
.iframecontainer{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  aspect-ratio: 16/9;
  border-radius: 16px; 
  overflow: hidden;
}

.iframecontainer img,
.youTubeOverlay
{
  width: 100%;
  height: calc(12/9 * 100%);
  position: absolute;
  left: 0;
  top: -16.5%;
  border-radius: 16px;
  display: block;
}

.youTubeOverlay{
  top: 0;
  height: 100%;
  cursor: pointer;
}

/* .youTubeOverlay:after{
  position:absolute;
    top:0;
    left:0;
    content:'';
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Ccircle cx='100' cy='100' r='90' fill='none' stroke-width='15' stroke='%23fff'/%3E%3Cpolygon points='70, 55 70, 145 145, 100' fill='%23fff'/%3E%3C/svg%3E");
background-repeat: no-repeat no-repeat;
background-position: center center;
background-size: 3rem 3rem;
    z-index: 9999;
} */
.youTubeOverlayTime{
   position: absolute;
   bottom: 5px;
   right: 5px;
   background-color: #111;
   color: white;
   padding: 2px;
   z-index: 1;
}



.iframecontainer iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 16px;
}

html[data-theme='light'] .vidcard{
  background-color: #fff;
  border: 1px solid #a8b3cf;
}

.vidcard{
  background-color: #1c1f26;
  width: 320px;
  padding: 8px;
  position: relative;
  display: block;
  border-radius: 16px;
  border: 1px solid #a8b3cf33;
}

.vidcard h2{
  margin: 8px 16px;
  min-height: 4.4rem;
  font-size: 1.25rem;
  line-height: 1.4;
}


.vidIcon{
  width: 24px;
  margin: 12px 0 4px 16px;
}

html[data-theme='light'] .bottomText{
  color: var(--pepper40);
}
.bottomText{
  margin: 8px 16px;
  line-height: 30px;
  color: #a8b3cfa3;
}

/* a:link {color:#FF0000;}  */