/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0 0 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBgImage {
  position: fixed;
  bottom: 0;
  opacity: 0.9;
  z-index: -1;
  left: 50%;
  object-fit: contain;
  transform: translateX(-50%);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}
